#navbarNav .nav-item{cursor: pointer;}
#navbarNav .nav-item:not(:last-child){
    border-right: solid 1px rgb(151, 151, 151);
}
#navbarNav .active{
    background-color: rgb(255, 255, 255);
}
#navbarNav .active a{
    color: rgb(54, 54, 54) !important;
}

.jh p{
margin: 0 !important;
}
.inputborder{border: none; border-bottom: 2px dotted rgb(184, 184, 184) !important;outline: none;margin-left: 10px;font-weight: bold;padding-left: 40px;}