<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 px-2 fixed-top" style="border-bottom: solid 1px rgb(223, 223, 223);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand p-0"   routerLink="/" style="vertical-align: middle;"><img style="margin-top: -5px;" src="{{localimage+'assets/image/logo2.png'}}" width="130px"></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/HOME" routerLinkActive="active"><i class="fad fa-home"></i>&nbsp;Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/TM" routerLinkActive="active"><i class="fad fa-calendar-check"></i>&nbsp;Lịch xe chạy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="http://192.84.100.207/SOCongViec/#/" target="_blank" ><i class="fad fa-address-card"></i>&nbsp;Đăng ký xe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/BSC" routerLinkActive="active"><i class="fad fa-calendar-alt"></i>&nbsp;Bảng sắp ca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/TUYENXE" routerLinkActive="active"><i class="far fa-road"></i>&nbsp;Tuyến xe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/SETTING" routerLinkActive="active"><i class="fad fa-cog"></i>&nbsp;Cài đặt</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <span class="text-white mr-3"><i class="fad fa-bells"></i></span>
        <span class="text-white mr-3"><i class="fad fa-envelope"></i></span>
        <span class="text-white mr-3"><i class="fad fa-user-circle"></i>&nbsp;{{user!=null?user.displayName:''}}</span>
        <!-- <input class="form-control mr-sm-2 p-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 p-0" type="submit">Tìm kiếm</button> -->
      </form>
    </div>
  </nav>