<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark p-0 px-2 fixed-top" style="border-bottom: solid 1px  rgb(109, 109, 109);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand p-0"   routerLink="/" style="vertical-align: middle;"><img style="margin-top: -5px;" src="{{localimage+'assets/image/logo2.png'}}" width="130px"></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <ng-container *ngFor="let item of listmenu">
            <li class="nav-item ">
              <a class="nav-link" routerLink="{{item.tenRutGon}}" routerLinkActive="active"><i class="{{item.maCode}}"></i>&nbsp;{{item.tenMenu}}</a>
            </li>
        </ng-container>
        
        <!-- <li class="nav-item ">
          <a class="nav-link" routerLink="/HOME" routerLinkActive="active"><i class="fad fa-home"></i>&nbsp;Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/TM" routerLinkActive="active"><i class="fad fa-calendar-check"></i>&nbsp;Lịch xe chạy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/REG" routerLinkActive="active" ><i class="fad fa-address-card"></i>&nbsp;Đăng ký xe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/BSC" routerLinkActive="active"><i class="fad fa-calendar-alt"></i>&nbsp;Bảng sắp ca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/TUYENXE" routerLinkActive="active"><i class="far fa-road"></i>&nbsp;Tuyến xe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/SETTING" routerLinkActive="active"><i class="fad fa-cog"></i>&nbsp;Cài đặt</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0" id="hdfjkdshkf">
        <span (click)="te()" class="text-white mr-3"><i class="fad fa-bells"></i></span>
        <span class="text-white mr-3"><i class="fad fa-envelope"></i></span>
        <span id="showkkk" class="text-white" style="width: 0px;overflow: hidden;transition: 0.5s;">
          <div style="width: 66px;">
            <i title="Đổi mật khẩu đăng nhập SmartOffice" class="fad fa-key mr-3" (click)="changepass()"></i>
            <i title="Đăng xuất" class="fad fa-sign-out-alt" (click)="logout()"></i>
          </div>
        </span>
        <span class="text-white mr-3 " (click)="showactionuser()"><i class="fad fa-user-circle"></i>&nbsp;{{user!=null?user.displayName:''}}</span>
        <!-- <input class="form-control mr-sm-2 p-0" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 p-0" type="submit">Tìm kiếm</button> -->
      </form>
    </div>
  </nav>

  <div id="f" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-700" role="document">
      <div class="modal-content bg-tranparent">
        <div class="modal-header ">
          <h5 class="modal-title" id="my-modal-title">Thay đổi mật khẩu đăng nhập SmartOffice.</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <form name="frmpass" id="gfhbghggff"  autocomplete="false" method="POST" novalidate>
          <table class=" table-sm w-100">
            <tbody id="mfnjdghf">
              <tr>
                <td>Mật khẩu cũ</td>
                <td><input name="jdfk"type="password"  class="form-control"  [(ngModel)]="pass.mkcu"></td>
              </tr>
              <tr>
                <td>Mật mới</td>
                <td><input name="jdfkf" type="password"  class="form-control"  [(ngModel)]="pass.mkmoi"></td>
              </tr>
              <tr>
                <td style="width: max-content !important;">Nhập lại mật khẩu mới</td>
                <td><input name="jdfghghk" type="password"  class="form-control"  [(ngModel)]="pass.mknhaplai"></td>
              </tr>
            </tbody>
          </table>
         </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-secondary mr-2" (click)="pass={}"><i class="fad fa-sync"></i>&nbsp;Nhập lại</button>
          <button class="btn btn-sm btn-secondary" (click)="change()"><i class="fad fa-save"></i>&nbsp;Lưu lại</button>

        </div>
      </div>
    </div>
  </div>