<div class="row no-gutters">
    <ng-container *ngFor="let item of listtab">
        <div class="col">
            <div class="row no-gutters" style="border-top: solid 3px rgb(12, 134, 165);position: relative;">
                <div style="width:0;height: 0;border: solid 10px  rgb(12, 134, 165);margin-top: -10px;border-radius: 100%;"></div>
            </div>
            <div class="row no-gutters">{{item.label}}</div>
            <div class="row no-gutters" style="font-size: 12px;">
                <i class="fas fa-user">45</i>&nbsp; 
            </div>
        </div>
    </ng-container>
    
    
</div>