<app-header></app-header>
<div class="row no-gutters p-2 " style="margin-top: 50px !important;">
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col">
            <h1 style="margin-bottom: 0 !important;">{{countnguoidangky<100?(countnguoidangky<10?('00'+countnguoidangky):('0'+countnguoidangky)):(countnguoidangky)}}</h1>
            <p class="card-text">Người đăng ký</p>
          </div>
          <div class="col-auto"><font style="font-size: 60px;"><i class="fad fa-users"></i></font></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col">
            <h1 style="margin-bottom: 0 !important;">{{counttuyenxe<100?(counttuyenxe<10?('00'+counttuyenxe):('0'+counttuyenxe)):(counttuyenxe)}}</h1>
            <p class="card-text">Tuyến xe</p>
          </div>
          <div class="col-auto"><font style="font-size: 60px;"><i class="fad fa-route"></i></font></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col">
            <h1 style="margin-bottom: 0 !important;">{{countdiemdon<100?(countdiemdon<10?('00'+countdiemdon):('0'+countdiemdon)):(countdiemdon)}}</h1>
            <p class="card-text">Điểm đón</p>
          </div>
          <div class="col-auto"><font style="font-size: 60px;"><i class="fad fa-map-marked-alt"></i></font></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col">
            <h1 style="margin-bottom: 0 !important;">{{countxe<100?(countxe<10?('00'+countxe):('0'+countxe)):(countxe)}}</h1>
            <p class="card-text">Xe bus</p>
          </div>
          <div class="col-auto"><font style="font-size: 60px;"><i class="fad fa-bus-alt"></i></font></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters p-2">
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Lượt sử dụng taxi </h5>
      <div class="row no-gutters" id="curve_chart0"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Chi phí sử dụng taxi</h5>
      <div class="row no-gutters" id="curve_chart1"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Mức sử dụng xe công tác</h5>
      <div class="row no-gutters" id="curve_chart2"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Trạng thái thanh toán taxi</h5>
      <div class="row no-gutters" id="curve_chart3"></div>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters p-2">
  <div class="col-md-6 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Top 10 nhân viên sử dụng xe công tác</h5>
        <table class="table table-sm table-hover" style="font-size: 12px;">
          <thead style="text-align: center;">
            <tr>
              <th style="width: 20px;">#</th>
              <th>Tên</th>
              <th>ID</th>
              <th>Bộ phận</th>
              <th>SDT</th>
              <th>Lần order</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of top10nhanviensudungcongtac;let i=index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{item.T001C}}</td>
                <td>{{item.T002C}}</td>
                <td>{{item.T003C}}</td>
                <td>{{item.T004C}}</td>
                <td>{{item.count}}</td>
            </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 px-1">
    <div class="card shadow  bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Top 10 nhân viên sử dụng taxi</h5>
        <table class="table table-sm table-hover" style="font-size: 12px;">
          <thead style="text-align: center;">
            <tr>
              <th>#</th>
              <th>Tên</th>
              <th>ID</th>
              <th>Bộ phận</th>
              <th>SDT</th>
              <th>Lần</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of top10nhanviensudungtaxi;let i = index">
                <tr>
                <td>{{i+1}}</td>
                <td>{{item.hoten}}</td>
                <td>{{item.manhansu}}</td>
                <td>{{item.bophan}}</td>
                <td>{{item.dienthoai_didong}}</td>
                <td>{{item.count}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>