<div class="row no-gutters p-2">
    <div class="col">
<div class="card">
    <div class="card-header p-1">
        <div class="row no-gutters">
            <div class="col">DANH SÁCH ĐƠN ĐĂNG KÝ</div>
            <div class="col-auto">
                <select (change)="filter()" [(ngModel)]="filt" class="btn btn-sm btn-secondary ml-1">
                    <option value="all">ALL</option>
                    <option value="1" selected>Chưa duyệt</option>
                    <option value="2">Đã duyệt</option>
                    <option value="3">Đã xong</option>
                </select>
                <button (click)="pheduyetdondangky()" title="Phê duyệt cho nhân viên đi xe" class="btn btn-sm btn-primary ml-1"><i class="fad fa-award"></i></button>
                <button (click)="xoadondangky()" title="Xóa bỏ yêu cầu" class="btn btn-sm btn-primary ml-1"><i class="fad fa-trash"></i></button>
                <!-- <button class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button> -->
            </div>
        </div>
    </div>
    <div class="card-body p-1">
        <table class="table table-bordered table-hover  table-striped table-sm" style="vertical-align: middle;font-size: 12px;">
            <thead style="text-align: center;">
                <tr>
                    <td  style="width: 20px;"><app-item-checkall [listdata]="listdon"></app-item-checkall></td>
                    <td  style="width: 30px;">#</td>
                    <td >Ngày đặt</td>
                    <td >Người đặt</td>
                    <td >Bộ phận</td>
                    <td >Di động/Ext</td>
                    <td >Người sử dụng</td>
                    <td >Bộ phận</td>
                    <td >Di động/Ext</td>
                    <td >Mục đích</td>
                    <td >Lộ trình</td>
                    <td>Thời gian sd</td>
                    <td>Ngày</td>
                    <td>Địa điểm lấy hàng</td>
                    <td>Chứng từ</td>
                    <td>Giấy mang hàng ra</td>
                    <td>Người nhận</td>
                    <td >Bộ phận</td>
                    <td >Di động/Ext</td>
                    <td style="width: 20px;"><i class="fad fa-question-circle"></i></td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listdon;let i=index">
                    <tr (click)="item.check=!item.check">
                        <td  style="width: 20px;"><input (click)="$event.stopPropagation()" type="checkbox" [(ngModel)]="item.check"></td>
                        <td  style="width: 20px;">{{i+1}}</td>
                        <td >{{item.ngayTao|date:'dd/MM/yyyy'}}</td>
                        <td >{{item.T001C}}</td>
                        <td >{{item.T002C}}</td>
                        <td >{{item.T004C+' '+item.T003C}}</td>
                        <td >{{item.T005C}}</td>
                        <td >{{item.T006C}}</td>
                        <td >{{item.T008C+' '+item.T007C}}</td>
                        <td >{{item.T009C}}</td>
                        <td >{{item.T010C}}</td>
                        <td >{{item.T011C}}</td>
                        <td >{{item.T012C}}</td>
                        <td >{{item.T013C}}</td>
                        <td >{{item.T014C}}</td>
                        <td >{{item.T015C}}</td>
                        <td >{{item.T016C}}</td>
                        <td >{{item.T017C}}</td>
                        <td >{{item.T018C}}</td>
                        <td>
                                <i *ngIf="item.trangThai==2" class="fad fa-check"></i>
                                <i *ngIf="item.trangThai==1" class="fad fa-sync fa-spin"></i>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
  </div>
</div>
  </div>