<div class="card">
    <div class="card-header p-1">
        <div class="row no-gutters">
            <div class="col">DANH SÁCH NHÂN VIÊN</div>
            <div class="col-auto">
                <!-- <button class="btn btn-sm btn-primary ml-1"><i class="fa fa-plus"></i></button> -->
                <button (click)="deletenhanviendixe()" class="btn btn-sm btn-primary ml-1"><i class="fa fa-trash"></i></button>
                <!-- <button class="btn btn-sm btn-primary"><i class="fa fa-plus"></i></button> -->
            </div>
        </div>
    </div>
    <div class="card-body p-1">
        <table class="table table-bordered table-hover  table-striped table-sm" style="vertical-align: middle;font-size: 12px;">
            <thead style="text-align: center;">
                <tr>
                    <td  style="width: 20px;"><app-item-checkall [listdata]="listdatas"></app-item-checkall></td>
                    <td  style="width: 30px;">#</td>
                    <td >Thời gian sử dụng</td>
                    <td >Tuyến</td>
                    <td >Điểm</td>
                    <td >Mã ID</td>
                    <td >Họ tên</td>
                    <td >Chức vụ</td>
                    <td >Cấp bậc</td>
                    <td>Bộ phận</td>
                    <td>địa chỉ mail</td>
                    <td>Di động/Máy lẻ</td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listdatas;let i=index">
                    <tr (click)="$event.stopPropagation();item.check=!item.check">
                        <td><input type="checkbox" [(ngModel)]="item.check" (click)="$event.stopPropagation()" ></td>
                        <td>{{i+1}}</td>
                        <td>{{item.thoiGianSuDung}}</td>
                        <td>{{item.DX0010!=null?item.DX0010.tenTuyenXe:''}}</td>
                        <td>{{item.DX0011!=null?item.DX0011.tenDiemDon:''}}</td>
                        <td>{{item.manhansu}}</td>
                        <td>{{item.hodem}}</td>
                        <td></td>
                        <td>{{item.capbac}}</td>
                        <td>{{item.diachitamtru}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.dienthoai_didong}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
  </div>