<div class="card m-1">
    <div class="card-header p-1">
      <div class="row no-gutters">
          <div class="col">ĐỊA ĐIỂM</div>
          <div class="col-auto">
            <app-button-count [listdata]="listdata" [start]="start" [step]="step" (step)="getstep($event)"></app-button-count>
            <app-button-preview classs="btn btn-sm" [listdata]="listdata" [start]="start" [step]="step" (start)="getstart($event)"></app-button-preview>
            <app-button-next classs="btn btn-sm" [listdata]="listdata" [start]="start" [step]="step" (start)="getstart($event)"></app-button-next>

              <button class="btn btn-sm btn-primary ml-1" (click)="themmoi()"><i class="far fa-plus"></i></button>
              <button class="btn btn-sm btn-primary ml-1" (click)="xoatuyenduong()" ><i class="fad fa-trash"></i></button>
          </div>
      </div>
    </div>
    <div class="card-body p-1">
        <table class="table table-sm table-hover table-bordered" style="font-size: 12px;">
            <thead>
                <tr  class="table-info">
                    <td style="width: 20px;"><app-item-checkall [listdata]="listdata"></app-item-checkall></td>
                    <td style=" width: 30px;">#</td>
                    <td>Mã Điểm đón</td>
                    <td>Tên Điểm đón</td>
                    <td>Lat</td>
                    <td>Lng</td>
                    <td>Giờ đón</td>
                    <td>Ghi chú</td>
                    <td>Địa danh</td>
                    <td>Trạng thái</td>
                    <td style="width: 20px;"><i class="fad fa-list"></i> </td>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listdata;let i=index">
                    <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))">
                    <tr (click)="item.check=!item.check" style="cursor: pointer;">
                        <td style="width: 20px;"><input type="checkbox" [(ngModel)]="item.check" (click)="$event.stopPropagation()"></td>
                        <td style=" width: 30px;">{{i+1}}</td>
                        <td><input (click)="$event.stopPropagation()" *ngIf="item.edit" type="text" [(ngModel)]="item.maDiemDon" class="max"><span *ngIf="!item.edit">{{item.maDiemDon}}</span></td>
                        <td><input (click)="$event.stopPropagation()" *ngIf="item.edit" type="text" [(ngModel)]="item.tenDiemDon" class="max"><span *ngIf="!item.edit">{{item.tenDiemDon}}</span></td>
                        <td><input (click)="$event.stopPropagation()" *ngIf="item.edit" type="text" [(ngModel)]="item.lat" class="max"><span *ngIf="!item.edit">{{item.lat}}</span></td>
                        <td><input (click)="$event.stopPropagation()" *ngIf="item.edit" type="text" [(ngModel)]="item.lng" class="max"><span *ngIf="!item.edit">{{item.lng}}</span></td>
                        <td><input (click)="$event.stopPropagation()" *ngIf="item.edit" type="text" [(ngModel)]="item.gioDon" class="max"><span *ngIf="!item.edit">{{item.gioDon}}</span></td>
                        
                        <td><input (click)="$event.stopPropagation()" *ngIf="item.edit" type="text" [(ngModel)]="item.ghiChu" class="max"><span *ngIf="!item.edit">{{item.ghiChu}}</span></td>
                        <td>
                            <select class="max"  (click)="$event.stopPropagation()" *ngIf="item.edit" [(ngModel)]="item.DX0014_ID" (change)="change(item)" >
                                <option value="null">Chọn</option>
                                <option *ngFor="let item of listdiadanh" [value]="item.DX0014_ID">{{item.tenDiaDanh}}</option>
                            </select>
                            <span *ngIf="!item.edit">{{item.DX0014!=null?item.DX0014.tenDiaDanh:""}}</span>
                        </td>
                        <td>
                            <select (click)="$event.stopPropagation()" class="max" *ngIf="item.edit" [(ngModel)]="item.trangThai">
                                <option value="null">Chọn</option>
                                <option value="true">Kích hoạt</option>
                                <option value="false">Tắt</option>
                            </select>
                            <span *ngIf="!item.edit">{{item.trangThai?"Kích hoạt":"Tắt"}}</span>
                        </td>
                        <td><i style="cursor: pointer;" class="fad {{item.edit?'fa-save':'fa-edit'}}" (click)="$event.stopPropagation();suakhunggio(item)"></i></td>
                    </tr>
                </ng-container>
            </ng-container>
            </tbody>
        </table>    
    </div>
  </div>
