<div class="row no-gutters p-2">
    <div class="col">
<div class="card">
    <div class="card-header p-1">
        <div class="row no-gutters">
            <div class="col-auto">
                
                <span class="" style="position: relative;">
                    <input type="search" class="btn btn-sm border border-secondary " placeholder="ID, Tên" [(ngModel)]="filtersearch"
                        (change)="showdata()" (keyup)="checkemty()">
                    <!-- <i style="position: absolute;top:5px;right: 10px;" class="fad fa-search"></i> -->
                </span>
                <select (change)="filter()" [(ngModel)]="filt" class="btn btn-sm btn-secondary ml-1">
                    <option value="all">ALL</option>
                    <option selected value="1">Chưa duyệt</option>
                    <option value="2">Đã duyệt</option>
                </select>
                <button (click)="pheduyetdondangky()" title="Phê duyệt cho nhân viên đi xe" class="btn btn-sm btn-secondary ml-1"><i class="fad fa-award"></i></button>
                <button (click)="thaydoituyenxechonhanvien()" title="Thay đổi tuyến xe cho nhân viên" class="btn btn-sm btn-secondary ml-1"><i class="fas fa-exchange-alt"></i></button>
                <app-button-download bg="btn btn-sm btn-secondary text-white ml-1" tableID="gghjkhggh" tableName="Danh sách người đi xe" hide="true"></app-button-download>
                
                <button (click)="xoadondangky()" title="Xóa bỏ yêu cầu" class="btn btn-sm btn-secondary ml-1"><i class="fad fa-trash"></i></button>
                <!-- <button class="btn btn-sm btn-secondary"><i class="fa fa-plus"></i></button> -->
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <app-button-count [listdata]="listdon" [start]="start" [step]="step" (step)="getstep($event)"></app-button-count>
                <app-button-preview classs="btn btn-sm" [listdata]="listdon" [start]="start" [step]="step" (start)="getstart($event)"></app-button-preview>
                <app-button-next classs="btn btn-sm" [listdata]="listdon" [start]="start" [step]="step" (start)="getstart($event)"></app-button-next>
                
            </div>
        </div>
    </div>
    <div class="card-body p-1"  style="max-height: calc(100vh - 107px) !important;overflow: auto;">
        <table class="table table-bordered table-hover  table-striped table-sm" id="gghjkhggh" style="vertical-align: middle;font-size: 12px;">
            <thead style="text-align: center;">
                <tr class="table-info">
                    <th  style="width: 20px;"><app-item-checkall [listdata]="listdon"></app-item-checkall></th>
                    <th  style="width: 30px;">#</th>
                    <th >TG sử dụng</th>
                    <th >Tuyến</th>
                    <th >Điểm</th>
                    <th >Mô tả điểm đón</th>
                    <th >Mã ID</th>
                    <th >Họ tên</th>
                    <th >Cấp bậc</th>
                    <th >Bộ phận/Công đoạn</th>
                    <th>Ext</th>
                    <th>Di động</th>
                    <th>Ghi chú</th>
                    <th style="width: 20px;"><i class="fad fa-question-circle"></i></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listdon;let i=index">
                      <ng-container *ngIf="((i>=start*step) && (i<(start+1)*step))&&filtersearch==''||item.T002C.indexOf(filtersearch)>-1&&filtersearch!=''||item.T001C.toUpperCase().indexOf(filtersearch.toUpperCase()
                        )>-1&&filtersearch!=''">
                    <tr (click)="item.check=!item.check">
                        <td  style="width: 20px;"><input (click)="$event.stopPropagation()" type="checkbox" [(ngModel)]="item.check"></td>
                        <td  style="width: 30px;">{{i+1}}</td>
                        <td >{{item.T010C.substring(0,10)}}</td>
                        <td >{{item.tenTuyenXe}}</td>
                        <td >{{item.tenDiemDon}}</td>
                        <td >{{item.ghiChu}}</td>
                        <td >{{item.T002C}}</td>
                        <td >{{item.T001C}}</td>
                        <td >{{item.T005C}}</td>
                        <td >{{(item.T006C+'').replace('Chế tạo ','').replace('Quản lý','QL').replace('Kỹ thuật','KT').substring(0,15)}}</td>
                        <td >{{item.T003C}}</td>
                        <td >{{item.T004C}}</td>
                        <td >{{(item.T013C-0)==1?"Đăng ký mới":"Thay đổi tuyến"}}</td>
                        <td>
                                <i *ngIf="item.trangThai==2" class="fad fa-check"></i>
                                <i *ngIf="item.trangThai==1" class="fad fa-sync fa-spin"></i>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
            </tbody>
        </table>
    </div>
  </div>
</div>
  </div>

  <app-loading [loading]="loading" caption="Đang đồng bộ dữ liệu, vui lòng chờ!"></app-loading>