
/* .gh{width: auto;position: relative;background-color: gray;height: 100%;left: 0;top: 0 ;left: 0;top: 0 ;} */
.gh li{transition:  0.2s;cursor: pointer;width: 240px;}
.ffff{transition:  0.3s;width: 240px !important;overflow: hidden;}
.gggg{transition:  0.3s;width: 35px !important;overflow: hidden;}
.gggg li span{display: none;}
.list-group-item{border-bottom: solid 1px rgb(109, 109, 109);}
.list-group-item:first-child{border-top: none;}
.list-group-item:last-child{border-bottom: none;}
