<!-- <div  class="{{classs!=null?class:''}} mr-1" [ngStyle]="{'width':width!=null?width:'200px'}">
      <div class="input-group mb-2 ">
        <div class="input-group-prepend">
          <div class="input-group-text p-0 px-2 align-items-center">
              <label class="" style="cursor: pointer;" for="{{ids}}"><i class="fas fa-calendar-alt"></i></label>
            </div>
        </div>
        
      </div>
  </div> -->
  <input   type="text" value="{{values==null?now:values}}" class="{{classs!=null?classs:''}} " id="{{ids}}">