
<div class="row no-gutters " style="position: relative;">
  <div class="row no-gutters p-2" style="position: absolute;top:0;left: 0;z-index: 9999;background-color: rgba(187, 187, 187, 0);">
    <button class="shadow  btn btn-sm btn-primary " (click)="adddiemdon()"><i class="fas fa-map-marker-alt"></i>&nbsp;Thêm điểm</button>
    <button class="shadow btn btn-sm btn-primary ml-1" (click)="themdiemdon()"><i class="fa fa-save"></i>&nbsp;Lưu điểm</button>
    <select class="shadow btn btn-sm btn-primary ml-1 {{edittuyenduong?'dis':''}}" (change)="thaydoituyenduong($event)">
      <option value="" selected>Chọn tuyến đường</option>
      <option *ngFor="let element of tuyenduong;let i=index" value="{{element.DX0010_ID}}">{{element.tenTuyenXe}}</option>
    </select>
    <button class="shadow btn btn-sm btn-primary ml-1" (click)="sualotrinhtuyenduong()">
      <i title="Sửa lộ trình" *ngIf="!edittuyenduong" class="fa fa-edit"></i>
      <i title="Lưu lộ trình"  *ngIf="edittuyenduong" class="fa fa-save"></i>
    </button>
    <button title="Thêm lộ trình"  class="shadow btn btn-sm btn-primary ml-1" (click)="themtuyenduong()"><i class="fal fa-plus"></i></button>
    <button title="Xóa lộ trình"  class="shadow btn btn-sm btn-primary ml-1" (click)="xoatuyenduong()"><i class="fal fa-trash"></i></button>
    <span class="shadow btn btn-sm btn-primary ml-1">{{calcu}} KM</span>
  </div>
  <div *ngIf="edittuyenduong" class="row no-gutters p-2" style="position: absolute;top:50px;left: 10px;z-index: 9999;background-color: rgba(255, 255, 255, 0.856);width: 250px;">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Tên điểm</th>
          <th><button class="btn btn-sm" (click)="themmoidiemchotuyenduong()"><i class="fal fa-plus"></i></button></th>
        </tr>
      </thead>
      <tbody *ngIf="thistuyenduong!=null">
        <ng-container *ngFor="let element of thistuyenduong.DX0010D;let i=index">
          <tr (click)="showthutu(element)">
            <td style="width: 80px;"><input class="max" type="number" [(ngModel)]="element.thuTu"></td>
            <td>
              <select [(ngModel)]="element.DX0011_ID" class="btn btn-sm btn-outline-secondary" style="width: 100px;" (change)="chondiemdonchotuyenduong($event,element)">
                <option *ngFor="let element2 of diemdon" value="{{element2.DX0011_ID}}">{{element2.tenDiemDon}}</option>
              </select>
            </td>
            <td><button class="btn btn-sm" (click)="xoabodiemchotuyenduong(element)"><i class="fa fa-trash"></i></button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
      (mapClick)="mapClicked($event)" (centerChange)="getCenter($event)" (mapReady)="ready($event)" >
      
      <!-- [style.height.px]="500" -->
      <agm-marker *ngFor="let m of diemdon; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
        [longitude]="m.lng" [label]="m.tenDiemDon" [markerDraggable]="true" (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
          <table class="table">
            <tbody>
              <tr>
                <td>Tên điểm</td><td><input type="text" [(ngModel)]="m.tenDiemDon"></td>
              </tr>
              <tr>
                <td>Mã điểm</td><td><input type="text" [(ngModel)]="m.maDiemDon"></td>
              </tr>
              <tr>
                <td>Ghi chú</td><td><textarea [(ngModel)]="m.ghiChu"></textarea></td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-sm" (click)="removediemdon(m)"><i class="fa fa-trash"></i></button>
        </agm-info-window>

      </agm-marker>
      <ng-container *ngIf="thistuyenduong!=null && thistuyenduong.DX0010D!=null && thistuyenduong.DX0010D.length>1">
        <agm-direction (onResponse)="hhh($event)" [renderOptions]="renderOptions" [origin]="thistuyenduong.DX0010D[0].DX0011" [destination]="thistuyenduong.DX0010D[thistuyenduong.DX0010D.length-1].DX0011"
        [waypoints]="thistuyenduong.waypoints"
           >
          <button>dfkd</button>
        </agm-direction>
      </ng-container>

      <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

    </agm-map>
</div>

<div class="modal fade " id="themtuyenduongmodal" role="dialog" >
	<div class="modal-dialog   modal-500" >
		<div class="modal-content " >
			<div class="modal-header">
				<h5 class="modal-title">Thêm mới một tuyến đường</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body ">
        <table class="table">
          <tbody>
            <tr>
              <td>Mã tuyến</td><td><input class="form-control" type="text" [(ngModel)]="newtuyenduong.maTuyenXe"></td>
            </tr>
            <tr>
              <td>Tên tuyến</td><td><input class="form-control"  type="text"  [(ngModel)]="newtuyenduong.tenTuyenXe"></td>
            </tr>
            <tr>
              <td>Ghi chú</td><td><input class="form-control"  type="text"  [(ngModel)]="newtuyenduong.ghiChu"></td>
            </tr>
            <tr>
              <td>Trạng thái</td><td>
                <select  class="form-control"   [(ngModel)]="newtuyenduong.trangThai">
                  <option value="true">Kích hoạt</option>
                  <option value="false">Tắt</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Loại</td><td>
                <select  class="form-control"   [(ngModel)]="newtuyenduong.type">
                  <option value="1">Tuyến đi</option>
                  <option value="2">Tuyến về</option>
                </select></td>
            </tr>
          </tbody>
        </table>
			</div>
			<div class="modal-footer">
				<button class=" btn btn-primary float-right" (click)="luutuyenduongmoi()" >UPDATE</button>
			</div>
		</div>
	</div>
</div>